@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* BODY */
body {
  margin: 0;
  font-family: "Bebas Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #6478e6, #c8cadf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BUTTON STYLING */
button {
  font-family: "Bebas Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  position: relative;
  transition: all 0.2s ease-in-out;
}

button:active {
  top: 2px;
}

/* APP */
.weather-app {
  margin: 0 20px;
}

/* FORECAST SUMMARY */
.forecast-summary {
  margin: 0 2em 0 2em;
}

/* FORECAST SUMMARIES */
.forecast-summaries {
  display: flex;
  flex-wrap: wrap;
}
